@model IEnumerable<actividades_complementaria.Models.Organigrama>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
                <th>
                    @Html.DisplayNameFor(model => model.area)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.descripcion)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.area_depende)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.nivel)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.tipo_area)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.titular)
                </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.area)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.descripcion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.area_depende)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.nivel)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.tipo_area)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.titular)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.idorganigrama">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.idorganigrama">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.idorganigrama">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
